<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="business_name">
      <%= el.render :business_name %>
    </div>
    <div class="description">
      <%= el.render :description %>
    </div>
    <div class="picture">
      <%= el.render :picture, image_size: '100x100', crop: true %>
    </div>
  <%- end -%>
<%- end -%>
