<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="product_name">
      <%= el.render :product_name %>
    </div>
    <div class="variety">
      <%= el.render :variety %>
    </div>
    <div class="picture">
      <%= el.render :picture, image_size: "100x100", crop: true %>
    </div>
    <div class="organic">
      <% if element.contents.where(name: "organic").first.essence.value == true %>
        <p>organic</p>
      <% else %>
        <p>not organic</p>
      <% end %>
    </div>
  <%- end -%>
<%- end -%>
